body {
  background: linear-gradient(0.25turn, #e29191, #ba9af5, #9df1ed);
}
.btn {
  height: 40px;
  width: 85px;
  border-radius: 7px;
  margin-left: 50px;
  background-color: #f7cece;
  color: #bd4747;
}